<a href="https://colab.research.google.com/github/Xicotrainer/Python/blob/master/2_1_Muestreo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# RECOMIENDAME UN LIBRO
(**Base de datos de libros en inglés de goodreads**)
___
___

##  1 Carga de librerias y accesos.

[//]: <$\sum_{n=1}^{10}n>
___

In [ ]:
# Usa "%pip install <library_name>" para instalar una libreria.

import pandas as pd

In [ ]:
# Acceso
from google.colab import drive
drive.mount('/content/drive')

%cd '/content/drive/My Drive/Colab Notebooks/1_Datasets'
%ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks/1_Datasets
1.1_input_dataset.csv

In [ ]:
df = pd.read_csv('1.1_input_dataset.csv', index_col=0)

___
___

## 2 Selección de datos
___

### 2.1 Vista preliminar

In [ ]:
df.head(3)

,Name,RatingDist1,pagesNumber,RatingDist4,RatingDistTotal,PublishMonth,PublishDay,Publisher,CountsOfReview,PublishYear,Language,Authors,Rating,RatingDist2,RatingDist5,ISBN,RatingDist3
Id,,,,,,,,,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,1:9896,652,4:556485,total:2298124,16,9,Scholastic Inc.,28062,2006,eng,J.K. Rowling,4.57,2:25317,5:1546466,NaN,3:159960
2,Harry Potter and the Order of the Phoenix (Har...,1:12455,870,4:604283,total:2358637,1,9,Scholastic Inc.,29770,2004,eng,J.K. Rowling,4.50,2:37005,5:1493113,0439358078,3:211781
3,Harry Potter and the Sorcerer's Stone (Harry P...,1:108202,309,4:1513191,total:6587388,1,11,Scholastic Inc,75911,2003,eng,J.K. Rowling,4.47,2:130310,5:4268227,NaN,3:567458

In [ ]:
df['Language'].value_counts()

eng      15988
en-US     2456
spa        637
en-GB      425
fre        331
ger        209
jpn         54
ita         36
mul         29
por         24
zho         17
grc         12
en-CA       11
kor         10
rus          7
swe          6
ara          6
lat          5
nl           5
enm          5
per          3
tur          3
wel          2
nor          1
glg          1
srp          1
gla          1
lit          1
msa          1
pol          1
gle          1
cat          1
afr          1
ind          1
frs          1
sco          1
Name: Language, dtype: int64

In [ ]:
 mask = ((df['Language'] == 'eng') | (df['Language'] == 'en-US') | (df['Language'] == 'en-Gb') | (df['Language'] == 'en-CA'))
 df = df[mask]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18455 entries, 1 to 99986
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             18455 non-null  object
 1   RatingDist1      18455 non-null  object
 2   pagesNumber      18455 non-null  int64
 3   RatingDist4      18455 non-null  object
 4   RatingDistTotal  18455 non-null  object
 5   PublishMonth     18455 non-null  int64
 6   PublishDay       18455 non-null  int64
 7   Publisher        18302 non-null  object
 8   CountsOfReview   18455 non-null  int64
 9   PublishYear      18455 non-null  int64
 10  Language         18455 non-null  object
 11  Authors          18455 non-null  object
 12  Rating           18455 non-null  float64
 13  RatingDist2      18455 non-null  object
 14  RatingDist5      18455 non-null  object
 15  ISBN             18174 non-null  object
 16  RatingDist3      18455 non-null  object
dtypes: float64(1), int64(5), object(11)
memory usage: 2.5+ MB

>**Revisión preliminar**.
 
Del data set orignal se elegieron 18 mil como objeto de estudio (títulos en inglés).
 
De las 17 columnas:
* 7 pertenecen al rating, no se conservará el detalle.
* 3 corresponden a la fehca de publicación, solo se conservará el año.

___
___

### 2.2 Selección de columnas

In [ ]:
df = df[['ISBN', 'Name', 'Authors', 'Publisher', 'Rating', 'pagesNumber', 'CountsOfReview', 'PublishYear']]

In [ ]:
df.sample(3)

,ISBN,Name,Authors,Publisher,Rating,pagesNumber,CountsOfReview,PublishYear
Id,,,,,,,,
22496,0922729433,Fallen Angels and the Origins of Evil: Why Chu...,Elizabeth Clare Prophet,Summit University Press,3.66,524,20,2000
38513,0553298550,"The Wedding (Sweet Valley High, #98)",Francine Pascal,Bantam Books,3.53,217,11,1994
91885,0380730863,A Medicine for Melancholy and Other Stories,Ray Bradbury,Avon Books,4.16,307,558,1998

> **Reusltado del muestreo.**

El dataset se redujo a 8 variables con 18 mil registros.

In [ ]:
df = df.reset_index()
df.to_csv('1.2_sample_dataset.csv')

___
___